.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  /* background: linear-gradient(120deg, #dcdcdc, #dcdcdc); */
}
.sub-container {
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-language {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sourceLanguageCodeDropdown {
  width: 60px;
  height: 20px;
  margin-left: 10px;
}

.group-btn {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  width: 100px;
  height: 30px;
  margin-right: 10px;
}

.textract {
  margin-top: 20px;
  margin-left: 55px;
}

.translate-document {
  margin-top: 20px;
  margin-left: 55px;
}
.swap {
  transition: all 0.3s ease;
  background: #3333;
}
.swap:hover {
  background: #ec1839;
  transform: scale(1.05);
}
.btn {
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
.title h1 {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
}
h1::after {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  right: 50px;
  bottom: -20px;
  border-bottom: 10px solid #ec1839;
  border-right: 10px solid #ec1839;
}
h1::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  left: 50px;
  top: -20px;
  border-top: 10px solid #ec1839;
  border-left: 10px solid #ec1839;
}
